@import 'tailwindcss';

@plugin './lib/tailwind/theme' {
	name: light;
	default: true;
	spacing: normal;
	colorscheme: light;

	background: #f7f8fa;

	foreground: #1b1d29;
	primary: #6d78d5;
	secondary: #eceef4;
	danger: #dc2626;
	success: #16a34a;
	warning: #d97706;
	info: #0284c7;
}
@plugin './lib/tailwind/theme' {
	name: dark;
	spacing: normal;
	colorscheme: dark;
	background: #15161c;
	foreground: #ffffff;
	primary: #6b77ff;
	secondary: #272a3a;
	danger: #7f1d1d;
	success: #22c55e;
	warning: #f5a623;
	info: #38bdf8;
}

@utility dotted-grid {
	background-image: radial-gradient(
		color-mix(in oklab, var(--color-foreground) 9%, transparent) 1px,
		transparent 1px
	);
	background-size: 16px 16px;
	background-position: -8px -8px;
}

meter {
	background: none !important;
	appearance: none !important;
	-webkit-appearance: none !important;
}

::-moz-meter-bar {
	-moz-appearance: none !important;
}

::-moz-meter-optimum::-moz-meter-bar,
::-moz-meter-sub-optimum::-moz-meter-bar,
::-moz-meter-sub-sub-optimum::-moz-meter-bar {
	background: none !important;
}

/* button {
	-webkit-box-shadow: inset 0px 0px 0px 1px var(--color-light);
	-moz-box-shadow: inset 0px 0px 0px 1px var(--color-light);
	box-shadow: inset 0px 0px 0px 1px var(--color-light);
} */
