@import 'tailwindcss';

@plugin './lib/tailwind/index' {
	default: true;
	eas: true;
}

@plugin './lib/tailwind/theme' {
	name: light;
	default: true;
	radius: normal;
	spacing: normal;
	colorscheme: light;
}
@plugin './lib/tailwind/theme' {
	name: dark;
	radius: normal;
	spacing: normal;
	colorscheme: dark;
}

meter {
	background: none !important;
	appearance: none !important;
	-webkit-appearance: none !important;
}

::-moz-meter-bar {
	-moz-appearance: none !important;
}

::-moz-meter-optimum::-moz-meter-bar,
::-moz-meter-sub-optimum::-moz-meter-bar,
::-moz-meter-sub-sub-optimum::-moz-meter-bar {
	background: none !important;
}

/* button {
	-webkit-box-shadow: inset 0px 0px 0px 1px var(--color-light);
	-moz-box-shadow: inset 0px 0px 0px 1px var(--color-light);
	box-shadow: inset 0px 0px 0px 1px var(--color-light);
} */
