@import 'tailwindcss';

@plugin "./lib/tailwind/index" {
	default: true;
	eas: true;
	raised-with-border: true;
}

@plugin "./lib/tailwind/theme" {
	name: light;
	default: true;
	radius: normal;
	spacing: large;
	colorscheme: light;
}
@plugin "./lib/tailwind/theme" {
	name: dark;
	radius: normal;
	spacing: large;
	colorscheme: dark;
}

meter {
	background: none !important;
	appearance: none !important;
	-webkit-appearance: none !important;
}

::-moz-meter-bar {
	-moz-appearance: none !important;
}

::-moz-meter-optimum::-moz-meter-bar,
::-moz-meter-sub-optimum::-moz-meter-bar,
::-moz-meter-sub-sub-optimum::-moz-meter-bar {
	background: none !important;
}
